<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add-Event-Page</title>
    <style>
        body {
            width: 800px;
            margin: auto;
        }

        li {
            display: flex;
            justify-content: space-evenly;
        }
    </style>
</head>
<body>

<form th:action="@{${event.id != null ? '/events/edit/' + event.id : '/events/add'}}" th:method="POST">
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" th:value="${event.name != null ? event.name : ''}">
    </div>
    <div>
        <label for="description">Description</label>
        <input id="description" name="description" th:value="${event.description != null ? event.description : ''}">
    </div>
    <div>
        <label for="popularityScore">Popularity Score</label>
        <input id="popularityScore" name="popularityScore" th:value="${event.popularityScore != null ? event.popularityScore : ''}">
    </div>
    <div>
        <label for="locationId">Location ID</label>
        <select name="locationId" id="locationId" th:if="${locations}">
            <option value="" disabled th:selected="${event.location.id == null}">Select Location</option>
            <option th:each="location : ${locations}"
                    th:value="${location.getId()}"
                    th:text="${location.getId()}"
                    th:selected="${location.getId() == event.location.id}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

</body>
</html>