<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }

        li {
            display: flex;
            justify-content: space-evenly;
        }

        /*form {*/
        /*    display: inline-block;*/
        /*}*/
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
</header>
<main>
    <h2>Choose an event:</h2>

    <form th:action="@{/test}" th:method="GET">
        <label>Press button to reset list</label>
        <button type="submit">Reset</button>
    </form>

    <form>
        <label>Press button to add event</label>
        <a href="/events/add">Add</a>
    </form>

    <form th:action="@{/events}">
        <label>Press button to get all event locations</label>
        <button type="submit">Show</button>
    </form>

    <div th:if="${error}" style="color: red;font-weight: bold">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/test/searchByText}" th:method="POST">
        <label for="text">Enter the text to filter Events by: </label>
        <input name="text" id="text"/>
        <button type="submit">Search by Text</button>
    </form>

    <form th:action="@{/test/searchByRating}" th:method="POST">
        <label for="rating">Enter the rating to filter Events by: </label>
        <input name="rating" id="rating"/>
        <button type="submit">Search by Rating</button>
    </form>

    <div th:if="${textSearchResults}">
        <h3>Filtered Events by Text:</h3>
        <ul>
            <li th:each="event : ${events}">
                <span th:text="'Name: ' + ${event.name} + ', Description: ' + ${event.description} + ', Rating: ' + ${event.popularityScore}"></span>
                <a th:href="@{/events/edit-event/{eventId} (eventId=${event.getId()}) }">Edit</a>
                <form th:action="@{/events/delete/{id} (id=${event.getId()}) }" th:method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
    </div>

    <div th:if="${ratingSearchResults}">
        <h3>Filtered Events by Rating:</h3>
        <ul>
            <li th:each="event : ${events}">
                <span th:text="'Name: ' + ${event.name} + ', Description: ' + ${event.description} + ', Rating: ' + ${event.popularityScore}"></span>
                <a th:href="@{/events/edit-event/{eventId} (eventId=${event.getId()}) }">Edit</a>
                <form th:action="@{/events/delete/{id} (id=${event.getId()}) }" th:method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
    </div>

    <div th:if="${events}">
        <h3>Filtered Events by Rating:</h3>
        <ul>
            <li th:each="event : ${events}">
                <span th:text="'Name: ' + ${event.name} + ', Description: ' + ${event.description} + ', Rating: ' + ${event.popularityScore}"></span>
                <a th:href="@{/events/edit-event/{eventId} (eventId=${event.getId()}) }">Edit</a>
                <form th:action="@{/events/delete/{id} (id=${event.getId()}) }" th:method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
    </div>

    <div th:if="${locations}">
        <h3>Locations</h3>
        <ul>
            <li th:each="location: ${locations}">
                <span th:text="'Name: ' + ${location.name} + ', Description: ' + ${location.description}"></span>
            </li>
        </ul>
    </div>

</main>
</body>
</html>