<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
</header>
<main>
    <h2>Choose an event:</h2>
    <!-- Display radio buttons for each event,
            the value should be the event name
            and the displayed text should be Name: <event_name>, Description: <event_description>, Rating: <popularity_score> -->
    <!--    <div>-->
    <!--        <input-->
    <!--                style="display: block"-->
    <!--                type="radio"-->
    <!--                name="lab"-->
    <!--                th:each="event: ${events}"-->
    <!--                th:value="${event.name}"-->
    <!--                th:text="'Name: ' + ${event.name} + ', Description: ' + ${event.description} + ', Rating: ' + ${event.popularityScore}">-->
    <!--    </div>-->

    <!--    <h2>Choose number of tickets:</h2>-->
    <!--    <input type="number" name="numTickets" min="1" max="10"><br/>-->
    <!--    <br/>-->
    <!--    <input type="submit" value="Submit">-->

    <form th:action="@{/test}" th:method="GET">
        <label>Press button to reset list</label>
        <button type="submit">Reset</button>
    </form>

    <form th:action="@{/test/searchByText}" th:method="POST">
        <label for="text">Enter the text to filter Events by: </label>
        <input name="text" id="text" />
        <button type="submit">Search by Text</button>
    </form>

    <form th:action="@{/test/searchByRating}" th:method="POST">
        <label for="rating">Enter the rating to filter Events by: </label>
        <input name="rating" id="rating" />
        <button type="submit">Search by Rating</button>
    </form>

    <div th:if="${textSearchResults}">
        <h3>Filtered Events by Text:</h3>
        <ul>
            <li th:each="event : ${textSearchResults}"
                th:text="'Name: ' + ${event.name} + ', Description: ' + ${event.description} + ', Rating: ' + ${event.popularityScore}">
            </li>
        </ul>
    </div>

    <div th:if="${ratingSearchResults}">
        <h3>Filtered Events by Rating:</h3>
        <ul>
            <li th:each="event : ${ratingSearchResults}"
                th:text="'Name: ' + ${event.name} + ', Description: ' + ${event.description} + ', Rating: ' + ${event.popularityScore}">
            </li>
        </ul>
    </div>

    <div th:if="${events}">
        <h3>Filtered Events by Rating:</h3>
        <ul>
            <li th:each="event : ${events}"
                th:text="'Name: ' + ${event.name} + ', Description: ' + ${event.description} + ', Rating: ' + ${event.popularityScore}">
            </li>
        </ul>
    </div>


</main>
</body>
</html>